.header {
    height: auto;
    padding: 1%;
    color: whitesmoke;
    background: linear-gradient(#09203f 5%, #4c2574);
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.toggle-button-icon {
    width: 1rem;
    height: 1rem;;
}

.form-control {
    font-size: 1rem;
    padding: .375rem .75rem;
}

h3 {
    font-size: 1.75rem;
}