<div class="container-fluid">
  <div class="header">
    <h2>Astronomy Picture of the day</h2>
  </div>
  <br>
  <div class="card" style="width: 100%;" *ngIf="apiData">
    <div class="card-header">
      <div class="form-group row" style="margin-bottom: unset;">
        <label for="apidate" class="col-md-1 col-form-label"><h5>Date:</h5></label>
        <div class="col-md-3">
          <input type="date" class="form-control" name="apidate" [(ngModel)]="apiData.date" (change)="dateChange()">
        </div>
      </div>
    </div>
    <a [href]="apiData.hdurl" target="_blank" *ngIf="apiData.media_type=='image'"><img title="Click to view HD image" class="card-img-top" [src]="apiData.url" [alt]="apiData.title"></a>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="apiData.media_type=='video'">
      <iframe class="embed-responsive-item" [src]="sanitizeUrl(apiData.url)" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{ apiData.title }}</h4>
      <p class="card-text">{{ apiData.explanation }}</p>
    </div>
  </div>
</div>
<br>