<div class="header mb-3">
  <h2>Astronomy Picture of the day</h2>
</div>
<div class="container-fluid">
  <div class="card" style="width: 100%;" *ngIf="apiData">
    <div class="card-header">
      <div class="form-group d-flex justify-content-between row" style="margin-bottom: unset;">
        <!-- <label for="apidate" class="col-md-1 col-form-label"><span class="font-weight-bold">Date:</span></label> -->
        <div class="col-md-3 col-9">
          <input type="date" class="form-control" id="apidate" name="apidate" [(ngModel)]="apiData.date" [min]="minDate" [max]="maxDate" (change)="dateChange()">
        </div>
        <div class="col-md-1 col-3">
          <button class="btn btn-dark btn-block" (click)="toggleTheme()"><img class="toggle-button-icon" [src]="toggleIcon"></button>
        </div>
      </div>
    </div>
    <a [href]="apiData.hdurl" target="_blank" rel="noopener" *ngIf="apiData.media_type=='image'">
      <img title="Click to view HD image" class="card-img-top" [src]="apiData.url" [alt]="apiData.title">
    </a>
    <div class="embed-responsive embed-responsive-16by9" *ngIf="apiData.media_type=='video'">
      <iframe class="embed-responsive-item" [src]="sanitizeUrl(apiData.url)" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <h3 class="card-title">{{ apiData.title }}</h3>
      <p class="blockquote-footer" *ngIf="apiData.copyright">&copy; {{ apiData.copyright }}</p>
      <p class="card-text text-justify">{{ apiData.explanation }}</p>
    </div>
  </div>
</div>
<br>